@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 115px;
  padding-right: 130px;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 500;
}

.logo-image {
  height: 24px;
  margin-right: 5px;
}

.header-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: black;
}

.underline-visible {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(25, 135, 84);
}