body {
  margin-bottom: 50px;
}

.projects-conatiner {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  column-gap: 20px;
  margin-left: 115px;
  margin-top: 50px;
}

.project-info {
  padding: 12px;
  transition: box-shadow ease;
  align-self: start;
}

.project-info:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px rgb(25, 135, 84);
  border-radius: 4px;
}

.project-thumbnail {
  height: 200px;
  width: 100%;
  margin-bottom: 3px;
}

.project-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 3px;
}

.project-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(108, 117, 125);
  font-size: 15px;
  width: 380px;
  margin-bottom: 12px;
}

.attribute-buttons-section {
  display: flex;
  justify-content: space-between;
}

.project-attribute {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: rgb(173, 181, 189);
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 3px;
}

.project-buttons-section {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: end;
}

.view-project-button,
.view-code-button {
  background-color: rgb(25, 135, 84);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.view-project-buttons-visible {
  display: inline;
}